<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WordService</string>
	<key>CFBundleGetInfoString</key>
	<string>2.8 ©2000-2010 Christian Grunenberg, DEVONtechnologies</string>
	<key>CFBundleIconFile</key>
	<string>WordService.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.grunenberg.WordService</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WordService</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8</string>
	<key>CFBundleSignature</key>
	<string>wdsv</string>
	<key>CFBundleVersion</key>
	<string>2.8</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Remove Links</string>
			</dict>
			<key>NSMessage</key>
			<string>doRemoveLinksService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Remove Multiple Feeds</string>
			</dict>
			<key>NSMessage</key>
			<string>doRemoveMultipleFeedsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>_</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Insert/Short Date &amp; Time</string>
			</dict>
			<key>NSMessage</key>
			<string>doInsertShortDateTimeService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>{</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Insert/Short Date</string>
			</dict>
			<key>NSMessage</key>
			<string>doInsertShortDateService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Speak Text/Stop</string>
			</dict>
			<key>NSMessage</key>
			<string>doStopSpeakingService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Mac- to Windows-Encoding</string>
			</dict>
			<key>NSMessage</key>
			<string>doMac2WindowsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Windows- to Mac-Encoding</string>
			</dict>
			<key>NSMessage</key>
			<string>doWindows2MacService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Rotate13</string>
			</dict>
			<key>NSMessage</key>
			<string>doRotateService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>'</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Straight Quotes</string>
			</dict>
			<key>NSMessage</key>
			<string>doStraightQuotesService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>"</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Smart Quotes</string>
			</dict>
			<key>NSMessage</key>
			<string>doSmartQuotesService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Insert/Contents Of Path</string>
			</dict>
			<key>NSMessage</key>
			<string>doInsertPathService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Insert/Time</string>
			</dict>
			<key>NSMessage</key>
			<string>doInsertTimeService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>}</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Insert/Long Date</string>
			</dict>
			<key>NSMessage</key>
			<string>doInsertLongDateService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>%</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Insert/Long Date &amp; Time</string>
			</dict>
			<key>NSMessage</key>
			<string>doInsertLongDateTimeService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>A</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Sort Lines Ascending</string>
			</dict>
			<key>NSMessage</key>
			<string>doSortAscendingService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>G</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Sort Lines Descending</string>
			</dict>
			<key>NSMessage</key>
			<string>doSortDescendingService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Speak Text/Native</string>
			</dict>
			<key>NSMessage</key>
			<string>doSpeakNativeService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Speak Text/German</string>
			</dict>
			<key>NSMessage</key>
			<string>doSpeakGermanService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>T</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Trim Lines</string>
			</dict>
			<key>NSMessage</key>
			<string>doTrimService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>B</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Trim Line Beginnings</string>
			</dict>
			<key>NSMessage</key>
			<string>doTrimLeftService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>E</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Trim Line Endings</string>
			</dict>
			<key>NSMessage</key>
			<string>doTrimRightService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>U</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/All Caps</string>
			</dict>
			<key>NSMessage</key>
			<string>doUpperService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>L</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Lowercase</string>
			</dict>
			<key>NSMessage</key>
			<string>doLowerService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>C</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Initial Caps Of Words</string>
			</dict>
			<key>NSMessage</key>
			<string>doCapitalizeWordsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Initial Caps Of Sentences</string>
			</dict>
			<key>NSMessage</key>
			<string>doCapitalizeSentencesService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>[</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Shift Left</string>
			</dict>
			<key>NSMessage</key>
			<string>doShiftLeftService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>]</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Shift Right</string>
			</dict>
			<key>NSMessage</key>
			<string>doShiftRightService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>O</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Encode Tabs</string>
			</dict>
			<key>NSMessage</key>
			<string>doEntabService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>D</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Decode Tabs</string>
			</dict>
			<key>NSMessage</key>
			<string>doDetabService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Macintosh Line Endings</string>
			</dict>
			<key>NSMessage</key>
			<string>doMacintoshLineEndingsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Unix Line Endings</string>
			</dict>
			<key>NSMessage</key>
			<string>doUnixLineEndingsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert/Windows Line Endings</string>
			</dict>
			<key>NSMessage</key>
			<string>doWindowsLineEndingsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Remove Line Endings</string>
			</dict>
			<key>NSMessage</key>
			<string>doRemoveLineEndingsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Remove Multiple Spaces</string>
			</dict>
			<key>NSMessage</key>
			<string>doRemoveMultipleSpacesService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Remove Quotes</string>
			</dict>
			<key>NSMessage</key>
			<string>doRemoveQuotesService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>&amp;</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Reformat</string>
			</dict>
			<key>NSMessage</key>
			<string>doReformatService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>I</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Statistics...</string>
			</dict>
			<key>NSMessage</key>
			<string>doStatisticsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict/>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Format/Remove Attachments</string>
			</dict>
			<key>NSMessage</key>
			<string>doRemoveAttachmentsService</string>
			<key>NSPortName</key>
			<string>WordService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSUIElement</key>
	<string>1</string>
</dict>
</plist>
